<section id="welcome">
  <div class="container py-4">
    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <div class="row justify-content-center">
          <img class="logo-hva" src="/assets/images/hva.logo.png" alt="Hva Logo">
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6 text-center">
        <div class="h-100 p-5 bg-primary text-white rounded-3">
          <h2>About Go Hva</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam architecto atque consequatur et illo inventore minus molestiae nemo quibusdam sapiente,
            tempora voluptatibus. Aperiam beatae blanditiis deleniti, dolor ipsum, magni nemo nobis nostrum obcaecati quos tempore vel vitae voluptates.
          </p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="h-100 p-5 bg-primary text-white border rounded-3">
          <h2>Current HvA Progress</h2>
          <p>
            The HvA is currently scoring <br><span class="fw-bold percent">100%</span><br> based on all pillars
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
