<div class="row">
  <div class="col-md-8">
    <div class="btn-group mb-5">
      <div class="dropdown">
        <button class="btn btn-primary bg-primary dropdown-toggle me-2" type="button" id="pillarsDropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">Pillars</button>

        <div class="dropdown-menu bg-primary" aria-labelledby="pillarsDropdownMenu">
          <a class="dropdown-item text-white">
            <div class="form-check">
              <input class="form-check-input me-1" [(ngModel)]="info.pillar" value="all"
                     type="radio" name="flexRadioDefault" id="radio-all-pillars"
                     (change)="filterChart(info)">
              <label class="form-check-label" for="radio-all-pillars">ALL</label>
            </div>
          </a>
          <a *ngFor="let pillar of pillars" class="dropdown-item text-white">
            <div class="form-check">
              <input class="form-check-input me-1" [(ngModel)]="info.pillar" value="{{pillar.name}}"
                     type="radio" name="flexRadioDefault" id="radio-pillar-{{pillar.id}}"
                     (change)="filterChart(info)">
              <label class="form-check-label" for="radio-pillar-{{pillar.id}}">{{pillar.name.toUpperCase()}}</label>
            </div>
          </a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary bg-primary dropdown-toggle me-2" type="button" id="facultiesDropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">Faculties</button>

        <div class="dropdown-menu bg-primary" id="facultyDropdown" aria-labelledby="facultiesDropdownMenu">
          <a class="dropdown-item text-white">
            <div class="form-check">
              <input class="form-check-input me-1" [(ngModel)]="info.faculty" value="all"
                     type="radio" name="flexRadioDefault" id="radio-all-faculties"
                     (change)="filterChart(info)">
              <label class="form-check-label" for="radio-all-faculties">ALL</label>
            </div>
          </a>
          <a *ngFor="let faculty of faculties" class="dropdown-item text-white">
            <div class="form-check">
              <input class="form-check-input me-1" [(ngModel)]="info.faculty" value="{{faculty.name}}"
                     type="radio" name="flexRadioDefault" id="radio-faculty-{{faculty.id}}"
                     (change)="filterChart(info)">
              <label class="form-check-label" for="radio-faculty-{{faculty.id}}">{{faculty.name.toUpperCase()}}</label>
            </div>
          </a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary bg-primary dropdown-toggle me-2" type="button" id="chartTypesDropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">Chart Type</button>

        <div class="dropdown-menu bg-primary" aria-labelledby="chartTypesDropdownMenu">
          <a *ngFor="let chartType of chartTypes" class="dropdown-item text-white">
            <div class="form-check">
              <input class="form-check-input me-1" type="radio" name="flexRadioDefault" id="radio-chart-{{chartType.name}}"
                     (change)="changeChartType(chartType.name)">
              <label class="form-check-label" for="radio-chart-{{chartType.name}}">{{chartType.name.charAt(0).toUpperCase() +
              chartType.name.substring(1)}}</label>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row bg-primary text-center text-white m-2">
      <div class="col-md-6 float-start">
        <h4 id="selectedPillar">Pillar: {{selectedPillar}}</h4>
      </div>
      <div class="col-md-6 float-end">
        <h4 id="selectedFaculty">Faculty: {{selectedFaculty}}</h4>
      </div>
    </div>
    <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="chartType">
    </canvas>
  </div>
  <div class="col-md-4">
    <div class="mt-5 table-responsive overflow-scroll">
      <table class="table table-striped table-hover no-wrap data-table">
        <thead class="bg-primary text-white">
        <tr>
          <th scope="col" class="pl-4"></th>
          <th *ngFor="let label of chartData.labels" scope="col" class="border-0 text-uppercase font-medium pl-4">
            {{label}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of chartData.datasets; let i=index" [class]="'line-'+i">
          <td class="bg-primary text-white fw-bold">{{data.label}}</td>
          <td *ngFor="let label of chartData.labels; let j=index">{{data && data.data[j]?.y}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row>">
  <div class="col"></div>
  <div class="col">
    <div *ngIf="errorMessage" class="alert alert-danger text-center" [innerHTML]="errorMessage"></div>
  </div>
  <div class="col"></div>
</div>
