.overflow-scroll {
  overflow: unset !important;
}
.table-responsive {
  overflow-x: unset !important;
}
.buttonStatus{
  margin: auto;
  display: grid;
}

.createQ {
  margin-top: 3vh;
  background: #007d68;
  border: #007d68;
}

.status {
  width: 100%;
}
